html {
  font-size: 18px;
  background-color: white;
  font-family: helvetica;
}

body {
  font-family: "Helvetica", sans-serif;
  line-height: 1.4;
}

header, footer {
  background-color: black;
  color: white;
}

h1, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: .25rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Top Section*/

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5rem;
}

.company .container img {
  height: 1.5rem;
}

.company .container span {
  padding-left: 1rem;
}

.main-banner {
  background-image: url("images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.arrival {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
}

/*Products and Info */

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  border: 4px solid black;
  width: 30%;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 2rem 0;
}

.product-image img {
  max-width: 8rem;
}

.product span {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.info {
  width: 35%;
}

.info .title {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
  color: white;
}

.info span {
  display: block;
}

footer {
  margin-top: 4rem;
  padding: 2rem 0;
}

#mini-nav {
  display: none;
}

@media only screen and (max-width: 1024px) {
  #full-nav {
    display: none;
  }
  #mini-nav {
    display: block;
    text-align: center;
  }
  .glasses {
    display: none;
  }
  .product {
    width: 47%;
  }
}

@media only screen and (max-width: 470px) {
  .main-banner {
    height: 15rem;
  }
  h1 {
    font-size: 1rem;
  }
  h4 {
    font-size: .77rem;
  }
  .arrival {
    padding: 1rem 0 1rem .5rem;
    top: 10rem;
    max-width: 100%;
  }
  .watch {
    display: none;
  }
  .products, .business-info {
    flex-wrap: wrap;
  }
  .product {
    width: 90%;
    margin: auto;
  }
  .info {
    width: 90%;
    margin: .5rem auto;
  }
  footer {
    text-align: center;
  }
}
