html {
  font-size: 18px;
  background-color: white;
  font-family: helvetica;
}

header, footer {
  background-color: black;
  color: white;
}

h1, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  margin-top: .25rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/*Top Section*/

.company .container {
  display: flex;
  align-items: center;
  padding: .66rem 0 .66rem .5rem;
}

.company .container img {
  height: 1.5rem;
}

.company .container span {
  padding-left: 1rem;
}

.main-banner {
  background-image: url("images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.arrival {
  width: 20rem;
  background-color: black;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
}

nav {
  background-color: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-between;
  padding: .75rem 0;
}

/*Products and Info */

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.product {
  border: 4px solid black;
  width: 30%;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  padding: 2rem 0;
}

.product-image img {
  max-width: 8rem;
}

.product span {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: .5rem;
}

.business-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
}

.info {
  width: 35%;
}

.info .title {
  padding: 1rem 0 1rem 2rem;
  background-color: black;
  color: white;
}
.info span {
  display:block;
}
